SECRET_KEY='your_super_secret_key'
ALLOWED_HOSTS='host_adress;another_host_adress' # example: 'http://localhost:8000;https://mysite.com'
CURRENCY_API_ADDRESS='https://myapiaddress.com' # replace with your api address